.d-flex {
  display: flex;
}

.jc-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.contain {
  width: 1200px;
  margin: auto;
}

.col-6 {
  width: calc(100% / 2);
}

.col-4 {
  width: calc(100% / 3);
}

.py-05 {
  padding: 0.5rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.px-05 {
  padding: 0 0.5rem;
}

.px-1 {
  padding: 0 1rem
}